<div class="container">
    <div class="row">
      <h2>記事一覧</h2>
      <div><%= link_to '新規作成', new_blog_path %></div>
      <% @articles.each do |blog| %>
            <div class="col-md-6 col-md-offset-3">
              <div class="blog-index-single">
                <h2 class="blog-author">
                  <%= article.user.name %>
                </h2>
                <p class="blog-text">
                  <%= article.text %>
                </p>
              </div>
            </div>
      <% end %> 
    </div>
</div>